includes:
    - vendor/larastan/larastan/extension.neon
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src
        - config
        - database
    scanFiles:
        - ../core/src/Models/Environment.php
        - ../core/src/Models/Project.php
        - ../core/src/Models/SshKey.php
        - ../core/src/Models/TrackedJob.php
        - ../core/src/Models/Workspace.php
        - ../core/src/Models/Setting.php
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: false
